<!DOCTYPE html>
<html lang="en">
 <head>
   <title>411 Project Demo</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
    <nav>
        <a href="/">Create</a>
        <a href="/read">Read</a>
        <a href="/update">Update</a>
        <a href="/delete">Delete</a>
        <a href="/search">Search</a>
        <a>ADV1</a>
        <a href="/adv2">ADV2</a>
      </nav>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Advanced Query 1</h2>
         <form action="adv1-query" method="POST">
           <div class="form-group">
             <label for="netid">To list courses where percentage of students who have scored A- or higher is more than N%</label>
             <input type="text" class="form-control col-lg-9" id="perc" aria-describedby="emailHelp" placeholder="Enter percentage(N) %" name="perc">
             </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
   </div>
 </div>
 </body>
</html>