<!DOCTYPE html>
<html lang="en">
 <head>
         <title>411 Project Demo</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
   <nav>
    <a href="/">Home</a>
    <a href="/user">User</a>
    <a href="/review">Reviews</a>
    
  </nav>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Enter new user details</h2>
         <form action="create-user" method="POST">
           <div class="form-group">

            <label for="name">Name</label>
               <input type="text" class="form-control col-lg-9" id="name" aria-describedby="emailHelp" placeholder="Enter Name" name="name">

            <label for="netid">Net ID</label>
              <input type="text" class="form-control col-lg-9" id="netid" aria-describedby="emailHelp" placeholder="Enter Net ID" name="netid">

           <label for="deptid">Dept ID</label>
             <input type="text" class="form-control col-lg-9" id="dept" aria-describedby="emailHelp" placeholder="Enter Department eg.CS" name="dept">

           <label for="sem">Semester</label>
             <input type="text" class="form-control col-lg-9" id="sem" aria-describedby="emailHelp" placeholder="Enter Semester (Fall/Spring/Summer/Winter)" name="sem">

           <label for="year">Year</label>
             <input type="number" class="form-control col-lg-9" id="year" aria-describedby="emailHelp" placeholder="Enter year eg.2000" name="year">

           <label for="email">Email</label>
             <input type="text" class="form-control col-lg-9" id="email" aria-describedby="emailHelp" placeholder="Enter Email Id eg.name@illinois.edu" name="email">

           <label for="password">Password</label>
             <input type="text" class="form-control col-lg-9" id="password" aria-describedby="emailHelp" placeholder="Enter Password" name="password">
            </div>

           <button type="submit" class="btn btn-primary">Create Account</button>
         </form>
   </div>
 </div>
 </body>
</html>