<!DOCTYPE html>
<html lang="en">
 <head>
         <title>411 Project Demo</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
   <nav>
    <a>Home</a>
    <a href="/user">User</a>
    <a href="/reviewdept">Reviews</a>
    
  </nav>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body" style="text-align: center; border: 1px solid">
         <h2>Welcome to Team 404's 411 project!</h2>
         <form action="choice" method="POST">
           <div class="form-group">
              <input type="submit" value="write review" name ="submit">
              <input type="submit" value="read review" name = "submit">
         </form>
   </div>
 </div>
 </body>
</html>
