!DOCTYPE html>
<html lang="en">
 <head>
         <title>411 Project Demo</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
   <nav>
    <a>Home</a>
    <a href="/createuser">User</a>
    <a href="/review">Reviews</a>
    
  </nav>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Welcome to Team 404's 411 project!</h2>
         <form action="choice" method="POST">
           <div class="form-group">
             


           <button type="submit" value="User" class="btn btn-primary">User</button>
           <button type="submit" value="Review" class="btn btn-primary">Review</button>

         </form>
   </div>
 </div>
 </body>
</html>