<!DOCTYPE html>
<html lang="en">
 <head>
         <title>411 Project Demo</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
   <nav>
    <a href="/">Home</a>
    <a>User</a>
    <a href="/review">Reviews</a>
    
  </nav>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body" style="text-align: center; border: 1px solid">
         <h2>User Details</h2>
         <form action="user-action" method="POST">
           <div class="form-group">
            <input type="submit" value="login" name ="submit">
            <input type="submit" value="signup" name = "submit">

         </form>
   </div>
 </div>
 </body>
</html>
